
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');
/* font-family: "Big Shoulders Display", serif;
font-family: "Lexend Deca", serif; */

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mainContainer{
    width: 100%;
    height: 100vh;
    background-color:  hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;    
}

.mainCardContainer{
    max-width: 1152px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
}

.mainSedans{
    background-color: hsl(31, 77%, 52%);
    width: 33.3%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 5% 7% 5% 5%;
}
.sedanIocon{
    padding-bottom: 35px;
}
#sedanHeading{
    font-size: 45px;
    font-family: "Big Shoulders Display", serif;
    color: hsl(0, 0%, 95%);
}
.sedanChoosingPara{
    font-size: 15px;
    font-family: "Lexend Deca", serif;
    padding: 30px 10px 35px 0px;
    line-height: 1.9;
    color: hsla(0, 0%, 100%, 0.75);
}
.sedanButton{
    color: hsl(31, 77%, 52%);
}
.sedanActiveButton:hover{
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    cursor: pointer;
}


.learnMoreButton{
    width: 75%;
    height: 50px;
    border-radius: 26px;
    border-style: none;
    font-size: 15px;
    font-weight: 600;
    margin-top: 22%;
}




.mainSuvs{
    width: 33.3%;
    background-color:  hsl(184, 100%, 22%);
    display: flex;
    flex-direction: column;
    padding: 5% 6% 5% 5%;
}
.suvsIocon{
    padding-bottom: 35px;
}
#suvsHeading{
    font-size: 45px;
    font-family: "Big Shoulders Display", serif;
    color: hsl(0, 0%, 95%);
}
.suvsChoosingPara{
    font-size: 16px;
    font-family: "Lexend Deca", serif;
    padding: 30px 0px 35px 0px;
    line-height: 1.9;
    color: hsla(0, 0%, 100%, 0.75);
}
.suvsButton{
    /* color: hsl(31, 77%, 52%); */
    width: 91%;
}
.suvsActiveButton:hover{
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    cursor: pointer;
}

.mainLuxury{
    width: 33.3%;
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 5% 6% 5% 5%;
}
.luxuryIocon{
    padding-bottom: 35px;
}
#luxuryHeading{
    font-size: 45px;
    font-family: "Big Shoulders Display", serif;
    color: hsl(0, 0%, 95%);
}
.luxuryChoosingPara{
    font-size: 16px;
    font-family: "Lexend Deca", serif;
    padding: 30px 0px 35px 0px;
    line-height: 1.9;
    color: hsla(0, 0%, 100%, 0.75);
}
.luxuryButton{
    padding-top: 20px;
    width: 91%;
}
.luxuryActiveButton:hover{
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    cursor: pointer;
}



@media (max-width:700px) and (min-width:500px) {
    .mainContainer{
        height: 100%;
    }
    .mainCardContainer{
        margin: 20% 20%;
        justify-content: end;
        flex-direction: column;
        width: 85%;
        height: 100%;
    }
    .learnMoreButton{
        margin-top: 10%;
        width: 65%;
    }
    .mainSedans{
        width: 100%;
        padding: 50px 30px 50px 50px;
        border-radius: 10px 10px 0px 0px;
    }
    .sedanChoosingPara{
        padding-bottom: 0px ;
        font-size: 15px;
    }
    .sedanButton{
        width: 40%;
    }
    .mainSuvs{
        width: 100%;
        padding: 50px 40px 50px 50px;
    }
    .suvsChoosingPara{
        padding-bottom: 0px ;
        font-size: 15px;
    }
    .mainLuxury{
        width: 100%;
        padding: 50px 40px 50px 50px;
        border-radius: 0px 0px 10px 10px;
    }
    .luxuryChoosingPara{
        padding-bottom: 0px ;
        font-size: 15px;
    }
}
@media (max-width:500px ) {
    .mainContainer{
        height: 100%;
    }
    .mainCardContainer{
        margin: 20% 0%;
        justify-content: end;
        flex-direction: column;
        width: 85%;
        height: 100%;
    }
    .learnMoreButton{
        margin-top: 10%;
        width: 65%;
    }
    .mainSedans{
        width: 100%;
        padding: 50px 30px 50px 50px;
        border-radius: 10px 10px 0px 0px;
    }
    .sedanChoosingPara{
        padding-bottom: 0px ;
        font-size: 15px;
    }
    .mainSuvs{
        width: 100%;
        padding: 50px 40px 50px 50px;
    }
    .suvsChoosingPara{
        padding-bottom: 0px ;
        font-size: 15px;
    }
    .mainLuxury{
        width: 100%;
        padding: 50px 40px 50px 50px;
        border-radius: 0px 0px 10px 10px;
    }
    .luxuryChoosingPara{
        padding-bottom: 0px ;
        font-size: 15px;
    }
}